<div class="header">
    <div class="logo" style="background-image: url('/media/firma.png')"></div>
    <div class="name">ORIOL MORA</div>
    <div class="menu">
        <div class="menu-button">&#9776;</div>
        <div class="header-button">Obra</div>
        <div class="header-button">Biografia</div>
        <div class="header-button">Proposta</div>
        <div class="header-button">Esdeveniments</div>
        <div class="header-button">Contacte i Visites</div>
    </div>
    <div class="langs"></div>

</div>