{% extends "base.html" %}


{% block imports %}
<link href='/style/index.css' as='style' rel='preload'>
<link href='/style/index.css' rel='stylesheet'>
{% endblock %}


{% block content %}
<div class="content-index">
    <div class="gallery-index horizontal-scroll">
        {% for product in products %}
            <img class="gallery-item normal-image" background="https://firebasestorage.googleapis.com/v0/b/oriolmora.firebasestorage.app/o/media%2Fproducts%2F{{product.image}}?alt=media">
        {% endfor %}
        <div class="arrow-container left" onmousedown="this.parentElement.scrollLeft -= this.parentElement.firstElementChild.offsetWidth"><div class="arrow left"></div></div>
        <div class="arrow-container right" onmousedown="this.parentElement.scrollLeft += this.parentElement.firstElementChild.offsetWidth"><div class="arrow right"></div></div>

    </div>


</div>
{% endblock %}