
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}


@font-face {
  font-family: myFont;
  src: url('/static/fonts/Averta-Regular.ttf');
}

* {
    font-family: myFont;
    font-weight: normal;
}


*{
	font-size: 1em;
    -moz-user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
     user-select: none; /* Standard syntax */
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    --padding: 1vw; /* GLOBAL PADDING */
    --padding-large: 8vh;
	font-size: 14px; /* GLOBAL FONT-SIZE */

    --padding-horizontal: 0 var(--padding);
    --padding-vertical: var(--padding) 0;
    --padded-width: calc(100% - var(--padding) * 2);
    --padded-height: calc(100% - var(--padding) * 2);
    --white: white;
    --white-translucid: #FFFFFFCC;
    --white-transparent: rgba(255, 255, 255, 0.5);
    --black: black;

}


*::-webkit-scrollbar {
  display: none;
}
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

*{
	font-size: 1em;
    scroll-behavior:smooth;
    transition: 1s;
}

/* KEYWORDS */

.hidden{
	display: none;
}
.invisible{
    visibility: hidden;
}

/* END KEYWORDS */

body {
    padding: 0 0;
    margin: 0 0;
    width: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#content{
    height: fit-content;
    width: var(--padded-width);
    max-width: var(--padded-width);
    min-height: calc(84vh - var(--padding) * 2);
    position: relative;
    margin-top: 8vh;
    left: 0;
    z-index: 10;
    padding: var(--padding);
    background-image: url("/media/paper.png");
    overflow-x: hidden;

}

.arrow-container.left, .arrow-container.right {
    display: flex;
    border-radius: 50%;
    background-color: var(--white-transparent);
    position: absolute;
    height: 2rem;
    width: 2rem;
    justify-content: center;
    align-items: center;
    cursor:pointer;

}
.arrow-container.left{
    left: var(--padding);
}
.arrow-container.right {
    right: var(--padding);
}

.arrow.left, .arrow.right{
    height: 0.8rem;
	width: 0.8rem;
	min-width: 0.8rem;
	border-top:var(--black) 0.2rem solid;
	border-right: var(--black) 0.2rem solid;
	border-bottom:transparent 0.2rem solid;
	border-left: transparent 0.2rem solid;

}
.arrow.left{
    transform: translate(25%,0) rotate(-135deg);
	-webkit-transform: translate(25%,0) rotate(-135deg) ;
}
.arrow.right{
	transform: translate(-25%, 0) rotate(45deg);
	-webkit-transform:translate(-25%, 0) rotate(45deg) ;
}








@media screen and (orientation: portrait) {
    html{
        font-size: 14px;
        --padding: 1vh;
    }
}




