.header{
    position: absolute;
    z-index: 100;
    width: calc(var(--padding-large) * 2 + 2 * var(--padding));
    height: calc(100% - var(--padding-large) * 2);
    top: var(--padding-large);
    left: calc(var(--padding-large) * 2);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--white);

}

.logo{
    height: calc(var(--padding-large) * 2);
    width: 100%;
    background-size: contain;
}

.name{
    width: 100%;
    height: var(--padding-large);
    background-color: purple;
    color: var(--white);
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: var(--padding);
}

.header-button{

    font-size: 1.2rem;
    width: var(--padded-width);
    height: 2rem;
    cursor: pointer;
}
.header-button:hover{
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}

.menu{
    display: flex;
    height: fit-content;
}
.header-button{
    display: none;
}

@media screen and (orientation: portrait) {
    .logo{
        height: var(--padding-large);
        width: var(--padding-large);
    }
    .header{
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: row;
        height: var(--padding-large);
        width: var(--padded-width);
        padding: var(--padding);
        align-items: center;
    }
    .header-button{
        display: none;
        align-items: center;
        justify-content: space-between;
    }
    .name{
        background-color: var(--white);
        color: var(--black);
        margin: 0;
    }
    .menu-button{
        display: flex;
    }
}